.RecordDetails {
  flex: 2;
  overflow: scroll;
  padding: 3px;
}

.NoRecordDetails {
  flex: 2;
  overflow: scroll;
  font-size: 16px;
  padding: 0.5em;
}

.SectionTitle {
  color: #616161;
  font-weight: bold;
}

.SectionContent {
  margin-left: 20px;
  white-space: pre-wrap;
}
