.GraphqlCodeBlock pre {
  background: transparent;
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* colors copied from graphiql */
.GraphqlCodeBlock span.comment {
  color: #999999;
}

.GraphqlCodeBlock span.number {
  color: #2882f9;
}

.GraphqlCodeBlock span.variable {
  color: #397d13;
}

.GraphqlCodeBlock span.atom {
  color: #ca9800;
}

.GraphqlCodeBlock span.attribute {
  color: #8b2bb9;
}

.GraphqlCodeBlock span.punctuation {
  color: #555555;
}

.GraphqlCodeBlock span.keyword {
  color: #b11a04;
}

.GraphqlCodeBlock span.def {
  color: #d2054e;
}

.GraphqlCodeBlock span.property {
  color: #1f61a0;
}

.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.node:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}

.info, .node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.tree-view_arrow-empty {
  color: yellow;
}
