.nav {
  // position: absolute;
  // top: 0;
  // right: 0;
  position: relative;

  top: 0;
  right: 0;
  margin-right: 1em;
  align-items: center;

  display: flex;
  // padding: 1em;
  // margin-top: 0.3em;
  // margin-right: 1em;
  // border: 1px green solid;
  // @nav-element-width: 110px;
  @blue: #4fa6ff;
  // width: 33%;
  .nav-item {
    text-decoration: none;
    color: #777;
    // font-weight: 600;
    justify-content: center;
    // width: @nav-element-width;
    // display: flex;
    // flex: 1;
    padding: 0 5px;
    text-align: center;
    // display: inline-block;
    cursor: pointer;
    text-decoration: none;

    justify-content: center;
  }

  hr {
    content: ' ';
    // display: inline-block;
    // width: @nav-element-width;
    height: 0;
    margin-top: 3px;
    height: 2px;

    background: linear-gradient(
      to bottom,
      transparent 0%,
      @blue 50%,
      @blue 100%
    );
    border: none;
    margin-left: 0;
    transition: 0.3s ease-in-out;
  }
  .current {
    color: black;
  }

  // .current:nth-child(1) ~ hr {
  //   margin-left: 25%;
  // }

  .current:nth-child(2) ~ hr {
    // margin-left: 33%;
  }
  .current:nth-child(3) ~ hr {
    // margin-left: 66%;
  }

  .indicator-container {
    position: relative;
    width: 0;
    height: 0;
  }

  .indicator-container--updated .indicator {
    animation: indicator-keyframes 0.2s ease-out;
  }

  @keyframes indicator-keyframes {
    0%,
    to {
      box-shadow: 0;
    }
    25% {
      box-shadow: 0px 0px 5px 0px rgba(51, 207, 255, 0.75);
    }
    50% {
      box-shadow: 0px 0px 10px 0px rgba(51, 207, 255, 1);
    }
    75% {
      box-shadow: 0px 0px 5px 0px rgba(51, 207, 255, 0.75);
    }
    100% {
      box-shadow: 0;
    }
  }

  .indicator {
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: @blue;
    border-radius: 50%;
    left: 5px;
  }

  .indicator.disabled {
    display: none;
  }
}
